In [1]:
import mysql.connector

# Replace with your own credentials
db_config = {
    'host': 'localhost',
    'user': 'root',
    'password': 'imad123',  # Replace with your actual root password
    'database': 'shopping_mall '  # Replace with your actual DB name
}

try:
    # Connect to the database
    conn = mysql.connector.connect(**db_config)
    cursor = conn.cursor()

    # Get all tables
    cursor.execute("SHOW TABLES;")
    tables = cursor.fetchall()

    print("Database Schema:")
    for (table_name,) in tables:
        print(f"\n🗂 Table: {table_name}")
        cursor.execute(f"DESCRIBE {table_name};")
        columns = cursor.fetchall()
        print("  Columns:")
        for col in columns:
            print(f"   - {col[0]} ({col[1]})")

    cursor.close()
    conn.close()

except mysql.connector.Error as err:
    print("❌ Error:", err)

Database Schema:

🗂 Table: aisle
  Columns:
   - aisle_id (int)
   - aisle_label (varchar(50))
   - product_category (int)
   - row_no (int)
   - column_no (int)
   - shelf_count (int)
   - capacity (int)
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: category
  Columns:
   - category_id (int)
   - category_name (varchar(255))

🗂 Table: customer
  Columns:
   - customer_id (int)
   - name (varchar(100))
   - email (varchar(100))
   - phone (varchar(20))
   - address (text)
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: employee
  Columns:
   - employee_id (int)
   - name (varchar(100))
   - email (varchar(100))
   - phone (varchar(20))
   - role_id (int)
   - joining_date (date)
   - gender (varchar(10))
   - address (text)
   - city (varchar(50))
   - age (int)
   - cnic (varchar(20))
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: interaction
  Columns:
   - interaction_id (int)
   - customer_id (int)
   - employee_id (int)
   - interaction_date (datetime)
   - interaction_type (enum('Phone','Email','In-person'))
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: mall_information
  Columns:
   - mall_id (int)
   - mall_name (varchar(100))
   - contact_number (varchar(20))
   - website (varchar(100))
   - address (varchar(255))
   - opening_hours (varchar(50))
   - email (varchar(100))
   - description (text)
   - parking_available (tinyint(1))
   - total_floors (int)
   - year_opened (year)
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: products
  Columns:
   - product_id (int)
   - product_name (varchar(255))
   - category_id (int)
   - rack_id (int)
   - inventory_count (int)
   - price (decimal(10,2))
   - description (text)
   - alert_threshold (int)
   - subcategory_id (int)

🗂 Table: racks
  Columns:
   - rack_id (int)
   - rack_label (varchar(255))
   - location_description (varchar(255))
   - floor (varchar(45))

🗂 Table: refund
  Columns:
   - refund_id (int)
   - transaction_id (int)
   - product_id (int)
   - quantity (int)
   - refund_date (datetime)
   - reason (text)
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: restocks
  Columns:
   - restock_id (int)
   - product_id (int)
   - quantity (int)
   - restock_date (datetime)

🗂 Table: role
  Columns:
   - role_id (int)
   - role_name (varchar(50))
   - role_description (text)
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: salary
  Columns:
   - salary_id (int)
   - employee_id (int)
   - salary_amount (decimal(10,2))
   - pay_grade (varchar(10))
   - effective_date (date)
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: sales
  Columns:
   - sales_id (int)
   - product_id (int)
   - quantity (int)
   - sales_date (datetime)
   - total_price (decimal(10,2))

🗂 Table: stock_receive
  Columns:
   - receive_id (int)
   - product_id (int)
   - quantity (int)
   - receive_date (datetime)
   - supplier (varchar(100))
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: store
  Columns:
   - store_id (int)
   - store_name (varchar(255))
   - store_location (varchar(255))

🗂 Table: subcategory
  Columns:
   - subcategory_id (int)
   - subcategory_name (varchar(255))
   - category_id (int)

🗂 Table: transaction
  Columns:
   - transaction_id (int)
   - customer_id (int)
   - variant_id (int)
   - employee_id (int)
   - quantity (int)
   - transaction_date (datetime)
   - total_price (decimal(10,2))
   - payment_method (enum('Cash','Card','Online'))
   - status (enum('Pending','Success','Failed'))
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: transaction_item
  Columns:
   - transaction_item_id (int)
   - transaction_id (int)
   - product_id (int)
   - quantity (int)
   - price (decimal(10,2))
   - created_at (timestamp)
   - updated_at (timestamp)

🗂 Table: variants
  Columns:
   - variant_id (int)
   - product_id (int)
   - variant_type (varchar(255))
   - variant_value (varchar(255))
   - price (decimal(10,2))
   - availability (tinyint(1))